# Ambiente Virtual
venv/
env/
.venv/

# Variáveis de ambiente
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.uv-cache/

# Arquivos de áudio gerados
backend/audios/*.mp3
backend/audios/*.wav
backend/*.log

# IDE
.vscode/
.idea/
